  <app-common-layout></app-common-layout>

<br>
<div class="container-fluid" style="position: absolute">
    <ngb-carousel>
        <ng-template ngbSlide *ngFor="let image of images">
            <div class="wrapper" style="text-align: center;">
                <img [src]="image.src" alt="Random first slide" style="height:37rem;width:1400px">
            </div>

        </ng-template>
    </ngb-carousel>

</div>






<div class="row">

    <div class="col">
<mat-card class="example-card" style="position: absolute; margin-top: 30em; margin-left: 15px; ">
 
    <img mat-card-image [src]="productList[0].productImage" alt="Photo of a Shiba Inu" style="height: 20rem;">

    <mat-card-actions>
        <button mat-button color="accent" mat-raised-button>20% off on Cameras</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-button color="primary"  mat-raised-button> Explore</button>
    </mat-card-actions>
</mat-card>
</div>
<div class="col">
  <mat-card class="example-card" style="position: absolute; margin-top: 30em">
 
    <img mat-card-image [src]="productList[1].productImage" alt="Photo of a Shiba Inu" style="height: 20rem;">

    <mat-card-actions>
        <button mat-button color="accent" mat-raised-button>10% off on TVs</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-button color="primary"  mat-raised-button> Explore</button>
      </mat-card-actions>
  </mat-card>
  </div>
  <div class="col">
    <mat-card class="example-card" style="position: absolute; margin-top: 30em; margin-left: 55px; ">
   
      <img mat-card-image [src]="productList[2].productImage" alt="Photo of a Shiba Inu" style="height: 20rem;">
  
      <mat-card-actions>
        <button mat-button color="accent" mat-raised-button>20% off on Watches</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-button color="primary"  mat-raised-button> Explore</button>
      </mat-card-actions>
    </mat-card>
    </div>
    <div class="col">
        <mat-card class="example-card" style="position: absolute; margin-top: 30em; margin-left: 15px; ">
       
          <img mat-card-image [src]="productList[3].productImage" alt="Photo of a Shiba Inu" style="height: 20rem;">
      
          <mat-card-actions>
            <button mat-button color="accent" mat-raised-button>10% off on suppliments</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button mat-button color="primary"  mat-raised-button> Explore</button>
          </mat-card-actions>
        </mat-card>
        </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="row">

    <div class="col">
<mat-card class="example-card" style="margin-top: 30em; margin-left: 15px; ">
 
    <img mat-card-image [src]="productList[4].productImage" alt="Photo of a Shiba Inu" style="height: 20rem;">

    <mat-card-actions>
        <button mat-button color="accent" mat-raised-button>Flat discounts for T-Shirts</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-button color="primary"  mat-raised-button> Explore</button>
      </mat-card-actions>
  </mat-card>
</div>
<div class="col">
  <mat-card class="example-card" style= "margin-top: 30em">
 
    <img mat-card-image [src]="productList[5].productImage" alt="Photo of a Shiba Inu" style="height: 20rem;">

    <mat-card-actions>
        <button mat-button color="accent" mat-raised-button>Buy now for 20% off</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-button color="primary"  mat-raised-button> Explore</button>
      </mat-card-actions>
  </mat-card>
  </div>
  <div class="col">
    <mat-card class="example-card" style="margin-top: 30em; margin-left: 55px; ">
   
      <img mat-card-image [src]="productList[6].productImage" alt="Photo of a Shiba Inu" style="height: 20rem;">
  
      <mat-card-actions>
        <button mat-button color="accent" mat-raised-button>Buy now for 20% off</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-button color="primary"  mat-raised-button> Explore</button>
      </mat-card-actions>
    </mat-card>
    </div>
    <div class="col">
        <mat-card class="example-card" style="margin-top: 30em; margin-left: 15px; ">
       
          <img mat-card-image [src]="productList[7].productImage" alt="Photo of a Shiba Inu" style="height: 20rem;">
      
          <mat-card-actions>
            <button mat-button color="accent" mat-raised-button>Buy now for 20% off</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button mat-button color="primary"  mat-raised-button> Explore</button>
          </mat-card-actions>
        </mat-card>
        </div>
</div>
<div class="container-fluid">
    <ngb-carousel>
        <ng-template ngbSlide *ngFor="let image of images_Lower">
            <div class="wrapper" style="text-align: center;">
                <img [src]="image.src" alt="Random first slide" style="height:37rem;width:1400px">
            </div>

        </ng-template>
    </ngb-carousel>

</div>





