
<router-outlet></router-outlet>

<br>

<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">
          <i>Quick-Kart </i> is an E-Commerce platform designed for Training and demonstration purpose.
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/category/front-end-development/">Men's Cloth</a></li>
          <li><a href="http://scanfcode.com/category/back-end-development/">Female Fashion</a></li>
          <li><a href="http://scanfcode.com/category/java-programming-language/">Electronics</a></li>
          <li><a href="http://scanfcode.com/category/android/">cameras</a></li>
          <li><a href="http://scanfcode.com/category/templates/">Life-Style</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6 style="color: rgb(255, 10, 218)">Quick Links</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/about/">About Us</a></li>
          <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
          <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
          <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
          <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright &copy; 2022 All Rights Reserved by
          <a href="#">CloudThat</a>.
        </p>
      </div>

      <div class="row">
      
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-linkedin"></a>
    
      </div>
    </div>
  </div>
</footer>